@import "tailwindcss";

:root {
   --font-neuehaas: 'Neue Haas Grotesk Display Pro', sans-serif;
  --background: #ffffff;
  --foreground: #171717;
  --light : #CABDB3;
  --orange: #B5310E;
  --lines: #3F3834;
  --green: #3CBF2A;
  --yellow: #FFD736;
  --red: #FF3636;
  --dark: #1A1715;
  --blue: #0B65C2;
  --pdark: #101010;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light: var(--light);
  --color-orange: var(--orange);
  --color-lines: var(--lines);
  --color-green: var(--green);
  --color-yellow: var(--yellow);
  --color-red: var(--red);
  --color-dark: var(--dark);
  --color-blue: var(--blue);
  --color-pdark: var(--pdark)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neuehaas), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

